@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  /* hide the button by default */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Display is row by default */
}

nav li {
  margin: 10px;
}

.isOpen ul {
  display: flex;
  /* Ensure menu displays in a row */
}

/* General Page Styling */
.about-container {
  font-family: 'Bebas Neue', sans-serif;
  color: #333;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

/* Header Section */
.about-header {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.about-header h1 {
  font-size: 36px;
  color: #333;
}

.about-header p {
  font-size: 18px;
  color: #777;
}

/* Content Section */
.about-content {
  text-align: left;
}

.about-description,
.about-benefits {
  margin-bottom: 20px;
}

.about-description h2,
.about-benefits h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #444;
}

.about-description p,
.about-benefits ul {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.about-benefits ul {
  list-style: disc;
  padding-left: 20px;
}

.about-benefits li {
  margin-bottom: 10px;
}


/* Responsive Styling */
@media screen and (max-width: 768px) {
  nav button {
    display: block;
    /* show the button on smaller screens */
  }

  nav ul {
    display: none;
    /* hide menu by default on smaller screens */
    flex-direction: column;
    /* stack items vertically */
  }

  .isOpen nav ul {
    display: flex;
    /* show the menu when isOpen is true */
    flex-direction: column;
    /* ensure items stack vetically when open */
  }

  .about-header h1 {
    font-size: 28px;
  }

  .about-header p,
  .about-description p,
  .about-benefits p {
    font-size: 14px;
  }

  .about-description h2,
  .about-benefits h2 {
    font-size: 20px;
  }
}


/* General Page Styling */
.contact-container {
  font-family: 'Bebas Neue', sans-serif;
  color: #333;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

/* Header Section */
.contact-header {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-header h1 {
  font-size: 36px;
  color: #333;
}

.contact-header p {
  font-size: 18px;
  color: #777;
}

/* Form Styling */
.contact-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Popup Styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.close-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #d32f2f;
}